/* Serving Jaune */
/* Providing both Midi and Maxi, only using Midi for now. Woff as fallback for browsers that don't support woff2. */
/* font-weight: 1 999 allows for variable font. */
/* font-display: swap is a performance optimization. */
@font-face {
    font-family: 'NaN Jaune Midi';
    src: url('./fonts/NaNJaune-Midi-Var.woff2') format('woff2'),
        url('./fonts/NaNJaune-Midi-Var.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'NaN Jaune Maxi';
    src: url('./fonts/NaNJauneMaxi-Var.woff2') format('woff2'),
        url('./fonts/NaNJauneMaxi-Var.woff') format('woff');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #1b1c21;
    color: #bfd0fc;
    font-family: 'space mono', monospace;
}

/* .main {
    min-height: 70vh;
} */

#time {
    font-family: 'NaN Jaune Midi', sans-serif;
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -1px;
    margin-bottom: 8rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem;
    min-height: 90vh;
}

.footer p {
    font-family: 'space mono';
    line-height: 0.75;
}

a {
    color: #bfd0fc;
    text-decoration: none;
    border-bottom: 1px dotted #bfd0fc;
}

a:hover,
a:focus {
    color: #1b1c21;
    background-color: #bfd0fc;
    padding: 0.1rem;
}

.secondary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-top: 1px solid #bfd0fc;
    padding: 2rem 0;
}

/* .details {} */

.detail {
    display: flex;
    margin: -16px auto;
}

.icon {
    margin-right: 1rem;
}